<div class="grid banner-wrapper">
  <div class="grid__item banner">
    {% if section.settings.title != blank %}
      <h2 class="small--text-center">{{ section.settings.title | escape }}</h2>
    {% endif %}
    {% unless section.settings.banner_url == blank %}
      <a href="{{ section.settings.banner_url }}">
    {% endunless %}
    {% if section.settings.banner != blank %}
      {%- assign img_url = section.settings.banner | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% capture image_size %}master{% endcapture %}
        <picture>
          {% if section.settings.banner_mobile != blank %}
            {%- assign img_url_mobile = section.settings.banner | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% capture image_size_mobile %}master{% endcapture %}

              <source media="(max-width: 500px)" srcset="{{ section.settings.banner_mobile | img_url: image_size_mobile }} 1x, {{ section.settings.banner_mobile | img_url: image_size, scale: 2 }} 2x" >
          {% endif %}
          <img class="banner__image" src="{{ section.settings.banner | img_url: image_size }}"
            srcset="{{ section.settings.banner | img_url: image_size }} 1x, {{ section.settings.banner | img_url: image_size, scale: 2 }} 2x"
            alt="{{ section.settings.banner.alt | default: shop.name }}"
            itemprop="image">
        </picture>

    {% else %}
      <div class="placeholder-background">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}
    {% unless section.settings.banner_url == blank %}
      </a>
    {% endunless %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Image",
        "info": "970px wide minimum"
      },
      {
        "type": "image_picker",
        "id": "banner_mobile",
        "label": "Mobile Image",
        "info": "768px wide minimum"
      },
      {
        "type": "url",
        "id": "banner_url",
        "label": "Image link"
      }
    ],
    "presets": [{
      "name": "Featured banner",
      "category": "Image"
    }],
    "blocks" : []
  }
{% endschema %}
