<!-- /templates/product.liquid -->
<div itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.product_image_zoom_type }}" data-show-extra-tab="{{ section.settings.show_extra_tab }}" data-extra-tab-content="{{ section.settings.extra_tab_content }}" data-cart-enable-ajax="{{ section.settings.cart_enable_ajax }}" data-enable-history-state="true">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant in stock, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  <div class="grid product-single">
    <div class="grid__item medium-up--one-half product-slider">
      <a href="#" class="prev-arrow-custom">{% include 'icon-arrow-right' %}</a>
      <a href="#" class="next-arrow-custom">{% include 'icon-arrow-right' %}</a>
      <div class="slider product--images">
        {% for image in product.images %}
          {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
          {% capture wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          <div id="{{ wrapper_id }}" class="product-single__featured-image-wrapper supports-js" data-image-id="{{ image.id }}">
            <div class="product-single__photos" data-image-id="{{ image.id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
              <img id="{{ img_id }}"
                   class="product-single__photo lazyload{% unless featured_image == image %} lazypreload{% endunless %}{% if section.settings.product_image_zoom_type == 'lightbox' %} lightbox{% endif %}"
                   {% if section.settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ image | img_url: '1024x1024' }}"{% endif %}
                   src="{{ image | img_url: '200x200' }}"
                   data-src="{{ img_url }}"
                   data-widths="[600, 750, 940, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ image.aspect_ratio }}"
                   data-sizes="auto"
                   data-original="{{ image | img_url: 'master' }}"
                   alt="{{ image.alt | escape }}">
            </div>
          </div>
        {% else %}
          <img class="supports-js" src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}">
        {% endfor %}
      </div>
      <noscript>
        <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}">
      </noscript>

      {% if section.settings.product_image_zoom_type == 'lightbox' %}
        <ul class="gallery hidden">
          {% for image in product.images %}
            <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '2048x2048' }}"></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="grid__item medium-up--one-half">
      <div class="product-single__meta small--text-center">
        {% if section.settings.vendor_show %}
          <h1 class="product-single__vendor" itemprop="brand">{{ product.vendor }}</h1>
        {% endif %}

        <h3 class="product-single__title" itemprop="name">{{ product.title }}</h3>
        
        {% if product.available %}
          {% if section.settings.product_description_position == 'right' %}
            {%- assign position = 'right' -%}
            {% include 'product-description' %}
          {% endif %}
        {% elsif product.tags contains 'hold' %}
          {% if section.settings.product_description_position == 'right' %}
            {%- assign position = 'right' -%}
            {% include 'product-description' %}
          {% endif %}
        {% else %}
            <div class="product-single__description rte" itemprop="description">
              {{ section.settings.sold_out}}
            </div>

        {% endif %}
        <p class="product-single__prices">
          {% if product.compare_at_price_max > product.price %}
            <span id="ComparePriceA11y" class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>
          {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          {% endif %}
          <span id="ProductPrice" class="product-single__price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
            {{ current_variant.price | money }}
          </span>

          {% if product.compare_at_price_max > product.price %}
            <span id="PriceA11y" class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s class="product-single__price--compare" id="ComparePrice">
              {{ current_variant.compare_at_price | money }}
            </s>
          {% endif %}
        </p>
        
        <!-- Begin Afterpay Liquid Snippet for Shopify v2.0.7 -->
        {% assign afterpay_minimum_value_in_cents = 4 %}
        {% assign afterpay_maximum_value_in_cents = 100000 %}
        {% assign afterpay_logo_theme = 'colour' %}
        {% assign afterpay_count_eligible_variants = 0 %}
        {% if shop.currency == 'AUD' %}
          {% for afterpay_variant in product.variants %}
            {% if afterpay_variant.available and afterpay_variant.price >= afterpay_minimum_value_in_cents and afterpay_variant.price <= afterpay_maximum_value_in_cents %}
              {% assign afterpay_count_eligible_variants = afterpay_count_eligible_variants | plus: 1 %}
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if afterpay_count_eligible_variants > 0 %}
          <p class="afterpay-paragraph" style="display:{% if product.selected_or_first_available_variant.available and product.selected_or_first_available_variant.price >= afterpay_minimum_value_in_cents and product.selected_or_first_available_variant.price <= afterpay_maximum_value_in_cents %}block{% else %}none{% endif %};" data-product-id="{{ product.id }}">
            or make 4 interest-free payments of
            <strong><span class="afterpay-instalments">${{ product.selected_or_first_available_variant.price | divided_by: 4.0 | round | money_without_currency }}&nbsp;AUD</span></strong>
            fortnightly with 
            <a style="display:inline-block; margin-bottom:10px;" href="https://www.afterpay.com.au/terms" target="_blank">
              <img style="vertical-align:middle;" src="https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}.png" srcset="https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}.png 1x, https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}@2x.png 2x, https://static.secure-afterpay.com.au/integration/product-page/logo-afterpay-{{ afterpay_logo_theme }}@3x.png 3x" width="100" height="21" alt="Afterpay" />
              <span style="font-size:12px;"><u>More info</u></span>
            </a>
          </p>
          {% if product.price_varies or afterpay_count_eligible_variants < product.variants.size %}
            <script type="text/javascript">
              if (typeof Afterpay === 'undefined') {
                var Afterpay = {products:[]};
                Afterpay.loadScript = function(url, callback) {
                  var script = document.createElement('script');
                  script.type = 'text/javascript';
                  if (script.readyState) { // I.E.
                    script.onreadystatechange = function() {
                      if (script.readyState == 'loaded' || script.readyState == 'complete') {
                        script.onreadystatechange = null;
                        callback();
                      }
                    };
                  } else { // Others
                    script.onload = function() {
                      callback();
                    };
                  }
                  script.src = url;
                  document.getElementsByTagName('head')[0].appendChild(script);
                };
                Afterpay.init = function($) {
                  $('body').on('change', $('form[action^="/cart/add"]'), function(event) {
                    var $form = $(event.target).closest('form');
                    var $afterpay_paragraph = null;
                    var should_show_instalments = false;
                    var selected_variant_id = parseInt($('input[name=id]:checked, select[name=id], input[name=id], hidden[name=id]', $form).val(), 10);
                    if (isNaN(selected_variant_id)) {
                      var $variant_options = $form.find('input[name=id][value], select[name=id] option[value], hidden[name=id][value]').filter(function(index, element) {
                        return $(element).attr('value').match(/^[1-9][0-9]*$/);
                      });
                      $variant_options.each(function(index, element) {
                        $.each(Afterpay.products, function(product_index, product) {
                          $.each(product.variants, function(variant_index, variant) {
                            if (variant.id == $(element).val()) {
                              $afterpay_paragraph = $('.afterpay-paragraph[data-product-id=' + product.id + ']');
                              return false;
                            }
                          });
                          if ($afterpay_paragraph !== null) {
                            return false;
                          }
                        });
                        if ($afterpay_paragraph !== null) {
                          return false;
                        }
                      });
                    } else if (selected_variant_id > 0) {
                      $.each(Afterpay.products, function(product_index, product) {
                        $.each(product.variants, function(variant_index, variant) {
                          if (variant.id == selected_variant_id) {
                            $afterpay_paragraph = $('.afterpay-paragraph[data-product-id=' + product.id + ']');
                            if (variant.available && variant.price >= {{ afterpay_minimum_value_in_cents }} && variant.price <= {{ afterpay_maximum_value_in_cents }}) {
                              should_show_instalments = true;
                              $afterpay_paragraph.find('.afterpay-instalments').html('$' + (Math.round(variant.price / 4) / 100).toFixed(2) + '&nbsp;AUD');
                            }
                          }
                        });
                      });
                    }
                    if ($afterpay_paragraph !== null) {
                      if (should_show_instalments) {
                        $afterpay_paragraph.show();
                      } else {
                        $afterpay_paragraph.hide();
                      }
                    }
                  });
                };
                if (typeof jQuery === 'undefined' || parseFloat(jQuery.fn.jquery) < 1.7) {
                  Afterpay.loadScript('https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js', function() {
                    var jQuery_1_12_4 = jQuery.noConflict(true);
                    Afterpay.init(jQuery_1_12_4);
                  });
                } else {
                  Afterpay.init(jQuery);
                }
              }
              Afterpay.products.push({{ product | json }});
            </script>
          {% endif %}
        {% endif %}
        <!-- End Afterpay Liquid Snippet for Shopify -->

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form">
            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.product_quantity_enable %}
              <div class="product-single__quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1">
              </div>
            {% endif %}

            <div class="product-single__cart-submit-wrapper">
              {% if product.tags contains 'hold' %}
                <button class="btn product-single__cart-submit btn--secondary" disabled="">
                  <span >{{ 'products.product.hold' | t }}</span>
                </button>
              {% else %}
                 <button type="submit" name="add" id="AddToCart" class="btn product-single__cart-submit btn--secondary">
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              {% endif %}
             
            </div>

          </form>

        </div>

        {% if section.settings.social_sharing_products %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
        <div class="product-single__contact">
            <span>{{ section.settings.contact }}</span> {% include 'icon-email' %} 
        </div>
      </div>
    </div>

  </div>

  {% if section.settings.product_description_position == 'below' %}
    {%- assign position = 'below' -%}
    {% include 'product-description' %}
  {% endif %}

  {% include 'related-products-by-vendor' %}
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  window.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "cart_enable_ajax",
        "label": "Stay on current page when item is added to cart",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_quantity_enable",
        "label": "Show quantity selector"
      },
      {
        "type": "checkbox",
        "id": "vendor_show",
        "label": "Show product vendor"
      },
      {
        "type": "checkbox",
        "id": "social_sharing_products",
        "label": "Enable sharing for products",
        "default": true
      },
      {
        "type": "header",
        "content": "Description"
      },
      {
        "type": "select",
        "id": "product_description_position",
        "label": "Position",
        "default": "below",
        "options": [
          {
            "value": "right",
            "label": "Right of images"
          },
          {
            "value": "below",
            "label": "Below images"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_extra_tab",
        "label": "Show a tab next to your product description",
        "default": false
      },
      {
        "type": "page",
        "id": "extra_tab_content",
        "label": "Tab content",
        "info": "This page content will appear in the extra tab."
      },
      {
        "type": "header",
        "content": "Featured image"
      },
      {
        "type": "select",
        "id": "product_image_zoom_type",
        "label": "Zoom type",
        "options": [
          {
            "value": "lightbox",
            "label": "Lightbox"
          },
          {
            "value": "zoom-in",
            "label": "Zoom-in"
          },
          {
            "value": "",
            "label": "No zoom"
          }
        ]
      },
      {
        "type": "header",
        "content": "Contact Us Link"
      },
      {
        "type": "textarea",
        "id": "contact",
        "label": "Text",
        "info": "Use basic HTML to format text"
      },
      {
        "type": "header",
        "content": "Sold out text"
      },
      {
        "type": "textarea",
        "id": "sold_out",
        "label": "Text",
        "info": "Use basic HTML to format text"
      }
    ]
  }
{% endschema %}
